@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
* {
    padding: 0;
    margin: 0;
}
 @media (max-width: 1920px) and (max-height: 1080px ) {
   /* body {
     background-color:#F19258 ;
   } */
   .introForm {
      width: 80vw;
      height: 80vh;
      margin-top: 10vh;
      background-image: url('images/computador1.png') ;
      background-repeat: no-repeat;
      position: fixed;
      background-size: cover;  
      background-position: center center;
      z-index: -1; 
      font-family: "Lilita One", cursive;
      align-items: center;
      margin-left: 10vw;
   }
   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 44vh;
      width: 25vw;
      margin-top: 30vh;
      margin-left: 41vw;
      /*border: 0.5px solid #000000;*/
   }
   .container-iniciar{
      color: rgba(3, 138, 154, 1);
      font-size: 3vh;
      margin-top: 2vh;
   }
   .input-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
   }
    input{
      height: 4vh;
      width: 20vw;
      font-size: 14px;
      border-radius: 15px;
      text-indent: 8px;
      margin-top: 1vh;
   }
   ::placeholder {
      color: rgba(18, 154, 170, 0.49);
      font-family: "Lilita One", cursive;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0em;
      text-align-last: initial;
    }
    .btn-iniciar {
      font-size: 20px;
      height: 5vh;
      width: 13vw;
      background: #F19258;
      border-radius: 15px;
      font-family: "Lilita One", cursive;
      color: white;
      margin-top: 18px;
    }
    p {
      align-items: center;
      color: rgba(3, 138, 154, 1);
      margin-top: 10px;
      font-size: 1.5rem;
    }
    .btn-google {
      margin-top: 20px;
      margin-left: 2vw;
      width:3vw; 
    }
    .containerRegister {
      font-size: 2.5vh;
      color: rgba(3, 138, 154, 1);
      margin-top: 10px;
    }
    .register{
      color:#129AAA ;
    }
   /* --- register Page --- */

   .registerOne {
      width: 80vw;
      height: 80vh;
      margin-top: 10vh;
      background-image: url('images/computador1.png') ;
      background-repeat: no-repeat;
      position: fixed;
      background-size: cover;  
      background-position: center center;
      z-index: -1; 
      font-family: "Lilita One", cursive;
      align-items: center;
      margin-left: 10vw;
   }
   h1 {
      font-size: 3vh;
      color: rgba(3, 138, 154, 1);
      margin-top: 10px;
   }
   .boton-register{
      font-size: 20px;
      height: 5vh;
      width: 13vw;
      background: #F19258;
      border-radius: 15px;
      font-family: "Lilita One", cursive;
      color: white;
      margin-top: 18px;
   }
   /* --- posts --- */
   .headerModal {
     display: inline;
   }
   .imgPost {
     width: 100vw;
     z-index: -1;
     position: fixed;
   }
   .logomodal {
     z-index: 1;
     margin-top: -6px;
     width: 8vw;
     margin-left: 5vw;
   }
   .btnclose {
    background-image: url(images/closeIcon.png);
    width: 4vw;
    height: 4vh;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 9px;
    margin-top: 8vh;
    margin-left: 74vw;
  }
   .postText {
    height: 50vh;
    width: 40vw;
    margin-top: 8vh;
    margin-left: 30vw;
    background-color: #FFF0D9;
    border:solid 4px #884F0B;
    font-size: 2rem;
   }
   .toPost {
     display: flex;
     flex-direction: row;
     background-color: #FFF0D9;
     border:solid 4px #884F0B;
     width: 40vw;
     height: 8vh;
     margin-left: 30vw;
     margin-top: -1vh;
   }
   .btnToPost {
     background-color: #F19258;
     border:solid 1px #884F0B;
     border-radius: 15px;
     width: 20vw;
     height: 6vh;
     font-family: "Lilita One", cursive;
     color:rgba(255, 254, 253, 0.835);
     font-size: 1rem;
     margin-top: 10px;
     margin-left: 7vw;
   }
   .btnimg {
     background-image: url(images/camara1.png);
     width : 6.4vw;
     height: 6.2vh;
     margin-left: 5vw;
     margin-top: 1vh;
     border:solid 3px #884F0B;
     border-radius: 10px;
     background-repeat: no-repeat;
     background-position: center center;
   }
} 
/* --- ipad pro --- */
@media (max-width: 1024px) and (max-height: 1366px ){
   /* --- intro Page --- */
   .introForm {
      width: 100vw;
      height: 100vh;
      background-image: url('images/fondo-ipad.png') ;
      background-repeat: no-repeat;
      position: fixed;
      background-size: cover;  
      background-position: center center;
      z-index: -1; 
      font-family: "Lilita One", cursive;
      align-items: center; 
      margin: auto;
   }
   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 50vh;
      width: 70vw;
      margin-top: 40vh;
      border-radius:  15px;
      background: rgba(255, 254, 253, 0.835);
      border: 0.5px solid #000000;
      margin-left: 16vw;
   }
   .container-iniciar{
     color: rgba(3, 138, 154, 1);
     font-size: 3.8rem;
     margin-top: 10px;
   }
   .input-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 15px;
   }
   input{
     height: 5.5vh;
     width: 50vw;
     font-size: 30px;
     border-radius: 15px;
     margin-top: 25px;
   }
   ::placeholder {
     color: rgba(18, 154, 170, 0.49);
     font-family: "Lilita One", cursive;
     font-size: 30px;
     font-style: normal;
     font-weight: 400;
     line-height: 21px;
     letter-spacing: 0em;
     text-align-last: initial;
   }
   .btn-iniciar {
      font-size: 3vh;
      height: 5vh;
      width: 35vw;
      background: #F19258;
      border-radius: 15px;
      font-family: "Lilita One", cursive;
      color: white;
      margin-top: 18px;
    }
    p {
      align-items: center;
      color: rgba(3, 138, 154, 1);
      margin-top: 10px;
      font-size: 2rem;
    }
    .btn-google {
      margin-top: 20px;
      margin-left: 6vw;
      width:7vw; 
    }
    .containerRegister {
      font-size: 2.5rem;
      color: rgba(3, 138, 154, 1);
      margin-top: 20px;
    }
    .register{
      color:#129AAA ;
    }
    /* --- register Page --- */

    .registerOne {
      width: 100vw;
      height: 100vh;
      background-image: url('images/fondo-ipad.png') ;
      background-repeat: no-repeat;
      position: fixed;
      background-size: cover;  
      background-position: center center;
      z-index: -1; 
      font-family: "Lilita One", cursive;
      align-items: center; 
      margin: auto;
    }
    h1 {
      font-size: 2.5rem;
      color: rgba(3, 138, 154, 1);
      margin-top: 20px;
    }
    .boton-register{
      font-size: 3vh;
      height: 5vh;
      width: 35vw;
      background: #F19258;
      border-radius: 15px;
      font-family: "Lilita One", cursive;
      color: white;
      margin-top: 18px;
    }
   /* --- posts --- */
   .imgPost {
    width: 100vw;
    z-index: -1;
    position: fixed;
  }
  .logomodal {
    z-index: 1;
    width: 8vw;
    margin-left: 5vw;
  }
  .btnclose {
    background-image: url(images/closeIcon.png);
    width: 7vw;
    height: 3vh;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    margin-top: 8vh;
    margin-left: 90vw;
  }
  .postText {
   height: 50vh;
   width: 50vw;
   margin-top: 8vh;
   margin-left: 25vw;
   background-color: #FFF0D9;
   border:solid 4px #884F0B;
   font-size: 2rem;
  }
  .toPost {
    display: flex;
    flex-direction: row;
    background-color: #FFF0D9;
    border:solid 4px #884F0B;
    width: 50vw;
    height: 8vh;
    margin-left: 25vw;
    margin-top: -1vh;
  }
  .btnToPost {
    background-color: #F19258;
    border:solid 1px #884F0B;
    border-radius: 15px;
    width: 20vw;
    height: 6vh;
    font-family: "Lilita One", cursive;
    color:rgba(255, 254, 253, 0.835);
    font-size: 2.5rem;
    margin-top: 10px;
    margin-left: 15vw;
  }
  .btnimg {
    background-image: url(images/camara1.png);
    width : 9vw;
    height: 5vh;
    margin-left: 3vw;
    margin-top: 1.5vh;
    border:solid 3px #884F0B;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
/* --- iphon x --- */
@media (max-width: 375px ) and (max-height: 812px ){ 
    /*----- intro page---- */
    .introForm {
       width: 100vw;
       height: 100vh;
       background-image: url('images/fondo1.png') ;
       background-repeat: no-repeat;
       position: fixed;
       background-size: cover;  
       background-position: center center;
       z-index: -1; 
       font-family: "Lilita One", cursive;
       align-items: center; 
    }
    .container {
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 40vh;
       width: 80vw;
       margin-top: 250px;
       border-radius:  15px;
       background: rgba(255, 254, 253, 0.835);
       border: 0.5px solid #000000;
       margin-left: 34px;
    }
    .container-iniciar{
      color: rgba(3, 138, 154, 1);
      font-size: 1.8rem;
      margin-top: 9px;
    }
    .input-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
    input{
      height: 5vh;
      width: 70vw;
      font-size: 14px;
      border-radius: 15px;
      text-indent: 8px;
      margin-top: 7px;
    }
    ::placeholder {
      color: rgba(18, 154, 170, 0.49);
      font-family: "Lilita One", cursive;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0em;
      text-align-last: initial;
    }
    .btn-iniciar {
      font-size: 20px;
      height: 5vh;
      width: 45vw;
      background: #F19258;
      border-radius: 15px;
      font-family: "Lilita One", cursive;
      color: white;
      margin-top: 18px;
    }
    p {
      align-items: center;
      color: rgba(3, 138, 154, 1);
      margin-top: 10px;
      font-size: 1rem;
    }
    .btn-google {
      margin-top: 10px;
      margin-left: 8vw;
      width:8vw; 
    }
    .containerRegister {
      font-size: 100%;
      color: rgba(3, 138, 154, 1);
      margin-top: 10px;
    }
    .register{
      color:#129AAA ;
    }
    /* --- register Page --- */

    .registerOne {
      width: 100vw;
      height: 100vh;
      background-image: url('images/fondo1.png') ;
      background-repeat: no-repeat;
      position: fixed;
      background-size: cover;  
      background-position: center center;
      z-index: -1; 
      font-family: "Lilita One", cursive;
      align-items: center;
    }
    h1 {
      color: rgba(3, 138, 154, 1);
      font-size: 1.6rem;
      margin-top: 9px;
    }
    .boton-register{
      font-size: 20px;
      height: 40px;
      width: 150px;
      background: #F19258;
      border-radius: 15px;
      font-family: "Lilita One", cursive;
      color: white;
      margin-top: 25px;
    }
    /* --- posts --- */
    .imgPost {
      width: 100vw;
      height: 5vh;
      z-index: -1;
      position: fixed;
    }
    .logomodal {
      z-index: 1;
      height: 5vh;
      width: 10vw;
      margin-left: 5vw;
      margin-top: 5px;
    }
  .btnclose {
    background-image: url(images/closeIcon.png);
    width: 7vw;
    height: 3vh;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    margin-top: 8vh;
    margin-left: 90vw;
  }
  .postText {
   height: 50vh;
   width: 80vw;
   margin-top: 8vh;
   margin-left: 10vw;
   font-size: 1rem;
  }
  .toPost {
    width: 80vw;
    margin-left: 10vw;
  }
  .btnToPost {
    width: 40vw;
    font-size: 1.5rem;
  }
  .btnimg {
    width : 19vw;
    height: 6.5vh;
  }
}
