* {
    padding: 0;
    margin: 0;
}
.introContainer {
   background-image: url('Images/fondo.png');
   position: fixed;
   width: 100vh;
   height: 100vh;
   font-family: "Lilita One", cursive; 
}
.introHeader {
    flex-direction: column;
    position: fixed;
    justify-content: center;
    
}
.introLogo {
   position: absolute;
   left: 90px;
   top: 60px; 
   width: 200px;
   height: 200px;
}
.introForm{
   position: absolute;
   width: 344px;
   height: 375px;
   left: 27px;
   top: 264px;
   border-radius: mixed;
   border-color: black 10pt;
   display: flex;
   flex-direction: inherit;
}

.container-register{
   font-size: 28px;
   text-align: center;
   left: 65px;
   color: #129AAA;
}
.input-container{
   align-items: center;
   position: absolute;
   left: 57px;
   top: 70px;
   border-radius: 23px;
}
input{
   height: 30px;
   width: 200px;
   font-size: px;
   display: inline-block;
}
/* ::placeholder{
   color: rgba(86, 109, 211, 0.49);;
} */
/* .btn-iniciarSesion{
 justify-content: center;
} */
.btn-iniciar{
  position: absolute;
  width: 175px;
  height: 45px;
  left: 65px;
  background: #F19258;
  border-radius: 15px;
  top: 160px;
}