@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

body {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 375px) {
  .wallContainer {
    background: white;
    position: fixed;
    height: 897px;
    display: flex;
    flex-direction: column;
  }
  .wallHeader {
    background-image: url(./Images/header.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 382px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .logoImage {
    height: 130px;
    width: 130px;
    left: 100px;
  }
  .icons-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .publish-image {
    display: none;
    width: 40px;
    height: 40px;
  }
  .home-image {
    display: none;
    width: 40px;
    height: 40px;
  }
  .logOut-image {
    display: none;
    width: 40px;
    height: 40px;
  }

  /* .homeSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  } */
  /* .post-box {
    height: 600px;
    width: 310px;
    left: 37px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  } */

  /* .container-post {
    background: rgba(255, 240, 217, 1);
    border-radius: 10px;
    border: 3px solid #b64c0b;
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
  } */
  /* .post-text {
    background: rgba(255, 240, 217, 1);
    width: 298px;
    height: 150px;
    border-radius: 6px;
    border-color: rgba(239, 134, 70, 0.24);
    display: flex;
    justify-content: flex-end;
  }
  ::placeholder {
    background: (239, 134, 70, 0.24);
    font-family: "Lilita One", cursive;
    font-size: 24px;
    color: rgba(18, 154, 170, 0.49);
    text-indent: 10px;
  } */

  /* .home-post {
    background: rgba(255, 240, 217, 1);
    height: 230px;
    width: 300px;
    left: -1px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  } */
  .like {
    background: rgba(239, 148, 86, 0.69);
    height: 50px;
    width: 300px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
  }
  .like img {
    height: 33px;
    width: 31px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }

  .footer {
    position: absolute;
    background: rgba(239, 148, 86, 0.69);
    height: 80px;
    width: 375px;
    left: -1px;
    top: 732px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .refresh-home {
    width: 70px;
    height: 75px;
    margin-top: 5px;
    margin-left: 20px;
  }
  .create-post-icon {
    width: 60px;
    height: 60px;
    margin-top: 5px;
  }
  /* .log-out {
    height: 75px;
    width: 75px;
    margin-right: 20px;
  } */
}

@media only screen and (min-width: 788px) and (max-width: 1920px) {
  .wallContainer {
    background: white;
    position: fixed;
    height: 1024px;
    display: flex;
    flex-direction: column;
  }
  .wallHeader {
    background-image: url(./Images/header32.png);
    background-size: cover;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  .logoImage {
    height: 100px;
    width: 100px;
    margin-left: 90px;
    border-radius: 10px;
  }
  .icons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
    margin-left: 1000px;
  }
  .publish-image {
    display: block;
    position: fixed;
    bottom: 30px;
    background: rgb(180, 104, 17);
    width: 60px;
    height: 60px;
    border-radius: 16px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.726);
  }
  .publish-image:hover {
    background-color: rgb(180, 139, 27);
  }
  .home-image {
    display: block;
    width: 60px;
    height: 60px;
  }
  .logOut-image {
    display: block;
    width: 60px;
    height: 60px;
  }

  .homeSection {
     display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 100vh;
  }
  /* .post-box {
    height: 300px;
    left: 37px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  } */
  /* .container-post {
    background: rgba(255, 240, 217, 1);
    border-radius: 10px;
    border: 3px solid #b64c0b;
    height: 150px;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  } */
  /* .post-text {
    background: rgba(255, 240, 217, 1);
    width: 598px;
    height: 150px;
    border-radius: 6px;
    border-color: rgba(239, 134, 70, 0.24);
    display: flex;
    justify-content: flex-end;
  } */
  /* ::placeholder {
    background: (239, 134, 70, 0.24);
    font-family: "Lilita One", cursive;
    font-size: 24px;
    color: rgba(18, 154, 170, 0.49);
    text-indent: 10px;
  }  */
  /* .home-post {
    background: rgba(255, 240, 217, 1);
    height: 230px;
    width: 598px;
    left: -1px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }  */
  .home-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lilita One", cursive;
    color: rgba(18, 154, 170, 0.49);
  }
  .post {
    background-color: rgba(255, 240, 217, 1);
    width: 31vw;
    height: 20vh;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    border: solid 2px #884f0b;
  }
  .like {
    background: rgba(239, 148, 86, 0.69);
    height: 5vh;
    width: 31vw;
    border-radius: 10px;
    margin-top: -2px;
    border: solid 2px #884f0b;
  }
  .like img {
    height: 5vh;
    margin-left: 21px;
  }
  .create-post-icon {
    display: none;
    width: 60px;
    height: 60px;
    margin-top: 5px;
  }
  .refresh- {
    display: none;
    width: 70px;
    height: 75px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .log-out {
    display: none;
    height: 75px;
    width: 75px;
    margin-right: 20px;
  }
  .refresh-home {
    display: none;
  }
  .logOut-image {
    margin-right: 10px;
  }
}
